<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Consolidation</title>
</head>
<body>
  <h1>DB Consolidation</h1>
  <div class="container">
    <form>
        <div>
            <label>id ring consolidation</label>
            <input type="text" id="id_consolidation" autofocus><br>
            <label>weight ring consolidation</label>
            <input type="text" id="weight_consolidation"><br>
            <label>diameter ring consolidation</label>
            <input type="text" id="diameter_consolidation"><br>
            <label>thick ring consolidation</label>
            <input type="text" id="thick_consolidation">
        </div>
        <button type="submit">
            <i>send</i>
        </button>
    </form>
  </div>

  <div id="data">

  </div>

  <script>
    const { inputData } = require('../controllers/consolidation.js');

    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      inputData();
    });
  </script>
</body>
</html>