<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Mold</title>
</head>
<body>
  <h1>DB Mold</h1>
  <div class="container">
    <form>
        <div>
            <label>id mold</label>
            <input type="text" id="id_mold" autofocus><br>
            <label>weight mold</label>
            <input type="text" id="weight_mold"><br>
            <label>diameter mold</label>
            <input type="text" id="diameter_mold"><br>
            <label>thick mold</label>
            <input type="text" id="thick_mold">
        </div>
        <button type="submit">
            <i>send</i>
        </button>
    </form>
  </div>

  <div id="data">

  </div>

  <script>
    const { inputData } = require('../controllers/mold.js');

    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      inputData();
    });
  </script>
</body>
</html>