<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Project</title>
</head>
<body>
  <h1>DB Project</h1>
  <div class="container">
    <form>
        <div>
            <label>id project</label>
            <input type="text" id="id_project" autofocus><br>
            <label>id client</label>
            <input type="text" id="id_client"><br>
            <label>project name</label>
            <input type="text" id="project_name"><br>
            <label>project location</label>
            <input type="text" id="project_location">
        </div>
        <button type="submit">
            <i>send</i>
        </button>
    </form>
  </div>

  <div id="data">

  </div>

  <script src="../controllers/project.js"></script>
</body>
</html>